<div class="col-md-4">

    <!-- Blog Categories Well -->
    <div class="well" style="margin-top: 30px; padding-top: 50px;">
        <h4><a style="color: inherit;" href="index.php?page=categories">Blog Categories</a></h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <?php foreach($categories as $cat){
                        echo "<li><a href=\"index.php?page=unecategorie&id=".$cat['id']."\">".$cat['titre']."</a></li>";
                    } ?>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side prochain evenement -->
    <div class="well">
        <h4>Prochain Evènement</h4>
        <!-- ?php foreach ($variable as $key => $value) {
            echo " -->
            <a href="../../img/sx.jpg"></a>
            <p>--JEU CONCOURS LOC'KARTING--<br><br>

Loc'karting vous fait gagner une place en catégorie 1 pour la finale DU CHAMPIONNAT DE FRANCE SX TOUR Supercross de Montpellier au Park&Suites Arena d'une valeur de 70€!<br><br>

--COMMENT GAGNER?--<br><br>

Rien de plus simple!<br><br>

Il suffit de partager à vos amis:<br>
- notre page facebook<br>
- les photos sur lesquelles vous êtes tagués avec Loc'karting<br><br>

On veux un maxxxxx de partage!<br><br>

Celui ou celle qui nous aura le plus partagé gagnera sa place à la finale du championnat de France de SX tour motocross à l'arena en catégorie 1, d'une valeur de 70€.<br><br>

Le résultat sera rendu sur le site internet et en message privé au gagnant dans 3 semaines, le mardi 8 décembre. Celui-ci aura 24h pour accepter son cadeau ou on remet au second etc..<br><br>

Tout le monde peut participer, sauf le personnel (ancien ou en place) et la famille de Loc'karting. 
<br><br>
Voir le détail du programme ici:<br>
http://www.ps-arena.com/billetterie/sports/32340/supercross-de-montpellier-finale-du-ch.html<br><br>

Bonne chance à tout le monde!! <br>
            Partagez ! <a class="page-scroll" href="https://www.facebook.com/events/760932930705470/">ICI</a></p>
    </div>

    <div class="well">
        <h4>Boutique</h4>
        <p>Offrez du Karting ou faites vous plaisir, en commandant en ligne vos sessions karting.</p>
        <a title="Logiciel billetterie en ligne" href="http://www.weezevent.com//?c=sys_widget" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=127600&amp;code=32646&amp;resize=1&amp;width_auto=1&amp;color_primary=fed136" data-width="650" data-height="600" data-id="127600" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a><script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>

    </div>
</div>